.card {
  height: 500px;
  display: flex;
  flex-direction: column;
}

.card-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-action {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.trash {
  color: rgb(126, 126, 126);
  transition: color 0.3s ease;
  cursor: pointer;
}

.trash:hover {
  color: rgb(200, 0, 0);
}